// - Mobile: 375px
// - Desktop: 1440px
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
// Colors
$paleblue: hsl(225, 100%, 94%);
$brightblue: hsl(245, 75%, 52%);
$active: hsl(245, 89%, 73%);

$verypaleblue: hsl(225, 100%, 98%);
$desaturatedblue: hsl(224, 23%, 55%);
$darkblue: hsl(223, 47%, 23%);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/pattern-background-desktop.svg");
  background-size: cover;
  font-family: "Red Hat Display";
  font-weight: 500;
  font-size: 1em;
  line-height: 1.6;
}

.flex {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #fff;
  box-shadow: -2px 10px 25px 4px rgba(56, 64, 85, 0.171);
  width: 450px;
  text-align: center;
  border-radius: 25px;
  .imagen {
    img {
      border-radius: 25px 25px 0 0;
    }
  }
  .card-rest {
    padding: 0 3em;
    .order {
      padding: 0;
      margin: 1.5em auto;
      width: 100%;
      h2 {
        font-weight: 900;
        color: $darkblue;
        margin-bottom: 10px;
        font-size: 1.6em;
      }
      p {
        color: $desaturatedblue;
      }
    }
    .plan {
      background-color: $verypaleblue;
      border-radius: 10px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin: 1.5em auto;
      padding: 1em;
      .planicon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .plantext {
        margin-left: 20px;
        h3 {
          font-size: 1em;
          font-weight: 900;
          color: $darkblue;
        }
        p {
          color: $desaturatedblue;
          font-weight: 700;
        }
      }
      a {
        font-weight: 700;
        color: $brightblue;
        transition: ease 150ms;
        &:hover {
          color: $active;
        }
      }
    }
    .buttons {
      text-align: center;
      button {
        display: block;
        padding: 1em 0;
        margin: 1.5em 0;
        width: 100%;
        border-radius: 10px;
        border: none;
        font-weight: 900;
        cursor: pointer;
        transition: ease 150ms;
      }
      .shop {
        background-color: $brightblue;
        color: #fff;
        box-shadow: 1px 9px 25px 1px rgba(70, 73, 230, 0.418);
        &:hover {
          background-color: $active;
        }
      }
      .cancel {
        background-color: transparent;
        color: $desaturatedblue;
        &:hover {
          color: $darkblue;
        }
      }
    }
  }
}
